.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-start; 
    
    
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Insira o código abaixo */

.container1 {

}

.container2 {
  padding-right: 16%;
}

.container3 {
    padding-right: 32%;
}

.container4 {
    padding-right: 48%;
}
.container5 {
    padding-right: 64%;
}
.container6 {
    padding-right: 80%;
}

/* exercício 2*/
.container-exercicioB {
    justify-content: start;
}